#school-logo{
    max-height: 100%; 
    width: 75px;
    height: auto;
}

h1{
    text-align: center;
    margin-top: 10px;
    font-size: 75px;
    font-weight: bold;
    font-family: "Aerial", cursive;
}

h3{
    margin-top: 25px;
    margin-bottom: auto;
}

.link {
    text-align: center;
    margin-top: 50px;
    
    font-size: 50px;
    font-family: "Aerial", cursive;
}

.image-container {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    margin-top: 100px;
    
  }
.image-container img {
    width: 150px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;

}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.button-container button {
    width: 100px;
    height: 80px;
    text-align: center;
    color: white;
    background-color: rgb(27, 27, 89);
    border: none;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
}
  
#fan_png {
    width: 300;
    height: 300;
}

.temp_humidity {
    margin-top: 75px;
    font-size: 35px;
    margin-left: auto;
    margin-right: auto;  
    margin-top: 25px;
    text-align: center;
}

.dhtData {
    display: flex;
    justify-content: space-between;
    font-size: 35px;
    margin-top: auto;
    margin-left: 75px;
    margin-right: auto;
    text-align: center;
}

button{
    border-radius: 10px;
    font-family: Arial, cursive;
    box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.2);
    cursor: pointer;
}
body{
    background-image: linear-gradient(to right, rgb(131, 19, 43), rgb(29, 48, 65));
    color:white
}